{% extends "admin/index.html" %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
    <li class="breadcrumb-item">Search</li>
    </ol>

    <form method="post" class="form-inline">
        <div class="input-group" style="width: 100%;">
          <input class="form-control" type="text" name="tag" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    </form>
    <br/>

    <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Items found with tag : {{ tag }}</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Image</th>
                  <th>Predection</th>
                  <th>Image Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for o in obj %}
                <tr>
                  <td>{{ o.id }}</td>
                  <td><img style="height: 100px;" src="{{ url_for('doc_cat_img', id=o.id)}}"  /></td>
                  <td>{{ o.predection }} | {{ o.proba }}</td>
                  <td>{{ o.filename }}</td>
                  <td><a href="{{ url_for('removefacial', id=o.id)}}"><button type="button" class="btn btn-danger">Remove</button></a></td>
                </tr>
              {% endfor %}

              {% for o2 in obj2 %}
                <tr>
                  <td>{{ o2.id }}</td>
                  <td><img style="height: 100px;" src="{{ url_for('facial_img', id=o2.id)}}"  /></td>
                  <td>{{ o2.predection }} | {{ o2.proba }}</td>
                  <td>{{ o2.filename }}</td>
                  <td><a href="{{ url_for('removefacial', id=o2.id)}}"><button type="button" class="btn btn-danger">Remove</button></a></td>
                </tr>
              {% endfor %}

              {% for o in obj3 %}
                <tr>
                  <td>{{ o.id }}</td>
                  <td><img style="height: 100px;" src="{{ url_for('vgg_img', id=o.id)}}"  /></td>
                  <td>
                  <ol>
                      {% for oo in o.predection %}
                          <li><b>{{ oo }}</b></li>
                      {% endfor %}
                  </ol>
                  </td>
                  <td>{{ o.filename }}</td>
                  <td><a href="{{ url_for('removevgg', id=o.id)}}"><button type="button" class="btn btn-danger">Remove</button></a></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>


{% endblock %}